*{margin:0;
    padding:0
}
.nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    }
          
.nav li{
    display:inline-block;
    width:150px;
    height:30px;
    padding:5px 10px;
    background-color: blue;
    border:1px solid blue;
    text-align:center;
    color:#fff;
    position:relative;
}
          
.nav li:hover{
    background-color:#fff;
    color:#000;
    }
          
.nav li>ul{
    display:none;
    }

.nav li:hover>ul{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
}

header{
    background-color: cadetblue;
    padding: 20px;
}
nav{
    background-color: blue;
    color: cornsilk;
   
}
.contenedor{
    display: grid;
    grid-template-columns: 60% 40%;
}
section{
    background-color: rgb(240, 147, 166);
    padding: 5px;
}
footer{
    background-color: cadetblue;
    color: cornsilk;
    padding: 10px;
}
aside{
    background-color: rgb(240, 188, 240);
}

.perfil {
    clear: both;
    overflow: hidden;
    margin-bottom: 3rem;
    padding-left: 2.3rem;
    position: relative;
}
